## TICKER

In [71]:
import yfinance as yf
import pandas as pd
import seaborn as sn
import json as js

In [25]:
amd = yf.Ticker("AMD")
amd_data = amd.history(period="max")
amd_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-03-17 00:00:00-05:00,0.0,3.302083,3.125000,3.145833,219600,0.0,0.0
1980-03-18 00:00:00-05:00,0.0,3.125000,2.937500,3.031250,727200,0.0,0.0
1980-03-19 00:00:00-05:00,0.0,3.083333,3.020833,3.041667,295200,0.0,0.0
1980-03-20 00:00:00-05:00,0.0,3.062500,3.010417,3.010417,159600,0.0,0.0
1980-03-21 00:00:00-05:00,0.0,3.020833,2.906250,2.916667,130800,0.0,0.0

In [70]:
amd_share_price_data=amd.history(period="max")
amd_share_price_data.iloc[0,0]

np.float64(0.0)

In [68]:
amd.info['volume']

37623391